	
body{
	background-color: beige;
	}
				
h1	{ 
	text-align: center;
	color: orange;
	font-weight:bold
	}	
h2	{ 
	color: orange;
	font-size: 18pt
	}	
ul	{
	font-size: 14pt;
	color: red
	}
ol	{
	font-size: 14pt;
	color: green
	}
	
li	{
	font-size: 10pt;
	color: purple
	}
a 	{
	color: blue
	}
	
p.red {
	color:red
}

